.sellerSideBar{
    height: 150vh;
    width: 400px;
    padding: 73px;
    background-color: rgb(202, 200, 200);
    box-sizing: border-box;
}

.options h3{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    margin-bottom: 50px;
}

.options li{
    width: 100%;
    height: 50px;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 140%;
}

.options li:hover{
    cursor: pointer;
    font-size: 143%;
    font-weight: bold;
}


